<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    
    <ul class="nav navbar-nav">
        <li *ngIf="Isloggedin()"><a routerLink="/crud">CRUD</a></li>
    </ul>
    <ul  class="nav navbar-nav navbar-right">
      <li *ngIf="!Isloggedin()"><a routerLink="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li *ngIf="!Isloggedin()"><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li *ngIf="Isloggedin()" (click)="logout()"><a><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      <li *ngIf="Isloggedin()"><a><span>MindFire-{{service.currentuser}}</span></a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
  


