<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Signup</div>
        <div class="panel-body">
          <div>
              <form #f="ngForm" (ngSubmit)="submit(f.value)" >
                  <div class="form-group">
                      <label class="control-label">Enter Username:</label>
                      <input type="text" ngModel required #username='ngModel' name="username" class="form-control">
                  </div>
                  <div class="alert alert-danger" *ngIf="username.touched && !username.valid">User name is required</div>
                <div class="form-group">
                  <label class="control-label">Enter Email:</label>
                  <input type="email" ngModel required #email='ngModel' name="email" class="form-control">
                </div>
                <div class="alert alert-danger" *ngIf="email.touched && !email.valid">Email is required</div>
                <div class="form-group">
                  <label class="control-label">Enter Password:</label>
                  <input type="password" ngModel required #password='ngModel' name="password" class="form-control">
                </div>
                <div class="alert alert-danger" *ngIf="password.touched && !password.valid">Password is required</div>
                <br>
                <button class="btn btn-success" [disabled]='!f.valid'>signup</button>
              </form>
              <br>
              <div class="alert alert-success" *ngIf="result">Account Created</div>
              <div class="alert alert-danger" *ngIf="errorr">Invalid Attempt</div>
              
          </div>
        </div>
      </div>  
</div>


